---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Astro SSR Template" subtitle="Select locale">
  <main>
    <h1>Root</h1>
    <a href="/es">es</a>|
    <a href="/en">en</a>
    <hr />
  </main>
</Layout>

<style></style>
